nav{
    color: white;
}
.card{
    height: 350px;
    margin: 5px;
}
.Menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Đặt z-index cao hơn để đảm bảo nó luôn hiển thị trên cùng */
    background-color: rgb(7, 0, 0);
}
.gioithieukhac{
    padding: 10px;
    background-image: url(img/image2.jpg);
    border:1px solid green;
}
.card-title{
    height:50px;
}
.card-text{
    height: 60px;
}
/** footer **/

.footer {
    background: #222222;
    padding-top: 90px
}

.newslatter_form {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.ente {
    color: #000;
    border: inherit;
    padding: 0 30px;
    height: 66px;
    width: 100%;
    font-size: 17px;
}

.subs_btn {
    max-width: 289px;
    display: inline-block;
    background: #151515;
    height: 66px;
    width: 100%;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    transition: ease-in all 0.5s;
}

.subs_btn:hover {
    background: #fff;
    color: #151515;
    transition: ease-in all 0.5s;
}

.Informa h3 {
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 15px;
    margin-top: 26px;
    text-transform: uppercase;
}

.Informa li {
    font-size: 17px;
    line-height: 37px;
    color: #ffffff;
}

.Informa li a:hover {
    color: #bdbdbe;
}

.helpful ul li a {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;
}

.helpful ul li a:hover {
    color: #bdbdbe;
}

ul.social_icon {
    float: right;
}

ul.social_icon li {
    display: inline-block;
    padding-right: 15px;
}

ul.social_icon li:last-child {
    padding-right: 0;
}

ul.social_icon li a {
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    font-size: 28px;
    font-weight: bold;
}

ul.social_icon li a:hover {
    color: #bdbdbe;
    transform: rotate(360deg);
    transition: ease-in all 0.7s;
}

.conta ul li a {
    color: #ffffff;
    text-decoration: none;
}

.conta ul li a i {
    padding-right: 5px;
}

.copyright {
    background: #151515;
    margin-top: 80px;
    padding: 20px 0px;
}

.copyright p {
    color: #bdbdbe;
    font-weight: 400;
}

.copyright a {
    color: #bdbdbe;
}

.copyright a:hover {
    color: #fff;
}
